* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

section {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}


.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 50%;
}

 .row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
}

img {
  width: 100%;
}

div.buttons {
    color: beige;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.btn {
    border-radius: 4px;
    border: solid 2px #4CAF50;
    color: #4CAF50;
    font-weight: 600;
    font-size: 18px;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: #4CAF50;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;
    justify-content: center;
    background-color: white;
}

ul{
    width:300px;
}
ul * {
    font-size: 18px;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: -50px;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

.btn1{
    position:absolute;
    left: 45%;
}